<center>
<h1><%= @rating.title %></h1>
</center>

<p id="notice"><%= notice %></p>

<% @rating.items.sort_by(&:rating).reverse.each_with_index do |item, index| %>
  <div class="row item">
    <div class="col-xs-1 hidden-xs">
      <div class="position">
        <%= index + 1 %>.
      </div>
    </div>
    <div class="col-xs-1 vote-area">
      <%= link_to vote_path(@rating, item.id) , :class => "btn btn-xs btn-default btn-vote", "data-already-voted" => (already_voted?(item.id) ? 1 : 0), "data-item-id" => item.id, "data-rating" => item.rating do %>
        голосовать
      <% end %>
    </div>

    <div class="col-xs-7 col-xs-offset-1">
      <div class="title">
        <%= item.title %>
      </div>
    </div>
  </div>
  <hr />
<% end %>

<br />
<br />
<br />
<br />
<br />

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
