<center>
<h1><%= @rating.title %></h1>
</center>
<br />
<br />
<br />

<p id="notice"><%= notice %></p>

<div class="rating" data-source-url="<%= rating_items_path(@rating) %>" data-rating-path="<%= rating_path(@rating) %>">
</div>

<%= javascript_tag do %>
  window.DATA = window.DATA || [];

  window.DATA["ratings/items"] = <%= raw json_escape(@rating.items.sort_by(&:rating).reverse.to_json) %>;
<% end %>

<br />
<br />
<br />

<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <div class="new-item-form"></div>
  </div>
</div>

<br />
<br />
<br />
<br />
