<% content_for :meta_title do %>
  <%= @rating.title %>
<% end %>

<% content_for :head do %>
  <%= render partial: "shared/share_description", locals: { url: rating_url(@rating), text: @rating.description, title: @rating.title } %>
  <link rel="canonical" href="<%= rating_url(@rating) %>" />

  <META name="description" content="<%= strip_tags(@rating.description.to_s).gsub(/\s+/, " ").mb_chars.truncate(160) %>" /> 
  <meta property="og:type" content="rating" /> 
  <meta property="og:url" content="<%= rating_url(@rating) %>" /> 
  <meta property="og:title" content="<%= @rating.title.to_s.truncate(140) %>" /> 
  <!--
  <meta property="og:image" content="" />
  <link rel="image_src" href="" />
  -->

  <meta property="og:description" content="<%= strip_tags(@rating.description.to_s).gsub(/\s+/, " ").mb_chars.truncate(160) %>" />
<% end %>

<div class="rating">
  
  <div class="rating-widget text-center">
    <h1><%= @rating.title %></h1>
    <em><%= @rating.description %></em>
  </div>

  <br />
  <br />
  <br />

  <div class="items">
    <ol>
      <% for item in @rating.items %>
        <li><%= item.title %></li>
    <% end %>
    </ol>
  </div>

  <br />
  <br />
  <br />

  <center>
    <div class="new-item-form"></div>
  </center>
</div>

<br />
<br />
<br />
<br />

<center>
  <% for rating in @rating.similar.limit(5) %>
    <h2><%= link_to rating.title, rating %></h2>
  <% end %>
</center>

<%= javascript_tag do %>
  window.DATA = window.DATA || [];

  window.DATA["ratings/items"] = <%= raw json_escape(@rating.items.sort_by(&:rating).reverse.to_json) %>;
  window.DATA["ratings/rating"] = <%= raw json_escape(@rating.as_json(except: :items).to_json) %>;
  window.DATA["ratings/items_path"] = "<%= rating_items_path(@rating) %>";
<% end %>

