<center>
<h1><%= @rating.title %></h1>
</center>
<br />
<br />
<br />

<p id="notice"><%= notice %></p>

<div class="rating" data-source-url="<%= rating_items_path(@rating) %>" data-rating-url="<%= rating_path(@rating) %>">
</div>

<%= javascript_tag do %>
  window.DATA = window.DATA || [];

  window.DATA["ratings/items"] = <%= raw json_escape(@rating.items.sort_by(&:rating).reverse.to_json) %>;
<% end %>

<br />
<br />
<br />

<%= form_tag rating_items_path(@rating), :class => "form form-inline" do %>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Заголовок" name="item[title]">
  </div>
  <button type="submit" class="btn btn-primary">Добавить новый элемент</button>
<% end %>

<br />
<br />

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
