<div class="row item">
  <div class="col-sm-1 hidden-xs">
    <div class="position">
      <%= position %>.
    </div>
  </div>

  <div class="col-xs-1 vote-area">
  </div>

  <div class="col-xs-8 col-sm-9 col-md-10">

    <div class="row">

      <div class="col-xs-2">

        <div class="picture">
        </div>

      </div>
      <div class="col-xs-10 title-wrapper">

        <span class="title" title="<%= title %>">
          <% if(can_edit) { %>
            <%= title %>
            <span class="link">
              <a href="<%= link %>" target="_blank" title="Перейти на внешнюю страницу"><i class='glyphicon glyphicon-link'></i></a>
            </span>
          <% } else if(!!link) { %>
            <a href="<%= link %>" target="_blank" title="Перейти на внешнюю страницу"><%= title %></a>
          <% } else { %>
            <%= title %>
          <% }  %>

        </span>

        <div class="controls pull-right">
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
