<div class="item item-edit-form">
  <form class='edit_form form' enctype="multipart/form-data"  accept-charset="UTF-8">

    <div class="form-group">
      <label for="title-<%= id %>">Заголовок <sup>*</sup></label>
      <input type="text" class="form-control input-title" id="title-<%= id %>" value="<%= title %>" placeholder="">
    </div>

    <div class="form-group">
      <label for="link-<%= id %>">Ссылка</label>
      <input type="text" class="form-control input-link" id="link-<%= id %>" value="<%= link %>" placeholder="URL-адрес сраницы">
    </div>

    <div class="form-group">
      <label for="text-<%= id %>">Текст</label>
      <textarea class="form-control input-text" id="text-<%= id %>"><%= text %></textarea>
    </div>

    <div class="form-group">
      <label for="picture-file-<%= id %>">Изображение</label>

      <input type="hidden" name="picture" value="<%= picture %>" />

      <img src="<%= picture %>" class="img-responsive" />
      <br />

      <input type="hidden" name="owner" value="<%= rating_id %>/<%= id %>" />
      <input type="file" id="picture-file-<%= id %>" name="file" class="picture-new">
    </div>

    <input type="submit" value="Сохранить" class="btn btn-primary" style="margin-left: 10px" />
    <input type="reset" value="Отменить" class="btn btn-default btn-cancel" />
  </form>

</div>
<hr />
