<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= yield(:meta_title).presence || "Русский рейтинг" %></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="all" href="//yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css" data-turbolinks-track="true" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<div class="container <%= "#{params[:controller]}-#{params[:action]}" %> <%= params[:controller] %>">
  <br />
  <div class="row">
    <div class="col-md-12 text-center">
      <span id="logo">
        <%= link_to "Русский Рейтинг", "/" %>
      </span>
      <div class="login-widget">
      </div>
    </div>
  </div>

  <%= yield %>
</div>


<script src="//yastatic.net/jquery/2.1.3/jquery.min.js"></script>
<script src="//yastatic.net/jquery/cookie/1.0/jquery.cookie.min.js"></script>
<script src="//yastatic.net/underscore/1.6.0/underscore-min.js"></script>
<script src="//yastatic.net/backbone/1.1.2/backbone-min.js"></script>

<script src="http://<%= Rails.configuration.x.auth_server %>/js/auth.js"></script>
<script>
  MazavrAuth("host", "<%= Rails.configuration.x.auth_server %>")
</script>

<script src="//yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js" data-turbolinks-track="true"></script>
</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>

